<!DOCTYPE html>
<html lang="en">
<head>
    <style>
     .clock {

    color: #1320b0;
    font-size: 70px;
    font-family: Orbitron;
    letter-spacing: 7px;

    </style>
    {% extends "nav.html" %}
    {% block content %}
    <title>welcome to python learning</title>

</head>
<body>
</br></br></br>
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col center-block text-center">
        <div class="child">
            <h1 class="child">Anime Abridging</h1>
</p>

        </div>
    </div>

</div>

</div>
</body>

{% endblock %}
</html>